<!-- 標籤 class裡fs-6是調整大小 -->
<div class="mb-3">
    <div class="d-flex flex-wrap gap-2">
        {% with want.wanttag_set.all as want_tags %}
            {% if want_tags %}
                {% for rel in want_tags %}
                <a href="{% url 'tagById_one' tag_id=rel.tag.id %}"
                        class="badge fs-6 bg-light text-dark text-decoration-none">
                        #{{ rel.tag.name }}
                    </a>
                {% endfor %}
            {% else %}
                <span class="text-muted">尚未設定標籤</span>
            {% endif %}
        {% endwith %}
    </div>
</div>